@using KetabAbee.Application.Extensions
@using KetabAbee.Application.Interfaces.Ticket
@model KetabAbee.Application.DTOs.UserPanelSideBarViewmodel
@inject ITicketService _ticketService;
<div class="profile-sidebar shadow-around mt-4">
    <div class="d-flex align-items-center">
        <div class="profile-avatar">
            <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="EditProfile">
                <img src="/Avatar/thumb/@Model.AvatarName" alt="avatar">
            </a>
        </div>
        <div class="profile-info">
            <div class="d-block">
                <h6><strong>@Model.Name</strong></h6>
            </div>
            <div class="d-block">
                <strong class="text-muted">@Model.Email</strong>
            </div>
        </div>
    </div>
    <div class="user-options">
        <ul>
            <li>
                <a href="#">
                    <span>کیف پول</span>
                    <span>@Model.Wallet.ToString("#,0") <span class="text-info font-weight-bold">تومان</span></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="user-menu">
        <ul>
            <li>
                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="Dashboard">
                    <i class="far fa-list"></i>
                    داشبورد
                </a>
            </li>
            <li>
                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="EditProfile">
                    <i class="far fa-edit"></i>
                    ویرایش حساب کاربری
                </a>
            </li>
            <li>
                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="ChangePassword">
                    <i class="far fa-lock-open"></i>
                    تغییر کلمه عبور
                </a>
            </li>
            <li>

                @if (!_ticketService.UserHaveUnReadTicket(User.GetUserId()))
                {
                    <a asp-area="UserPanel" asp-controller="Ticket" asp-action="Index">
                        <i class="far fa-envelope"></i>
                        تیکت ها
                    </a>
                }
                else
                {
                    <a asp-area="UserPanel" asp-controller="Ticket" asp-action="Index">
                        <i class="far fa-envelope"></i>
                        تیکت ها <span class="text-danger"> * </span> 
                    </a>
                }

            </li>
            <li>
                <a asp-area="UserPanel" asp-controller="Wallet" asp-action="ChargeWallet">
                    <i class="far fa-wallet"></i>
                    کیف پول
                </a>
            </li>
            <li>
                <a asp-area="UserPanel" asp-controller="Order" asp-action="Orders">
                    <i class="far fa-clipboard-list-check"></i>
                    فاکتور ها
                </a>
            </li>
            <li>
                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="FavoriteBooks">
                    <i class="far fa-heart"></i>
                    علاقه مندی ها
                </a>
            </li>
            <li>
                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="UserBooks">
                    <i class="far fa-shopping-cart"></i>
                    خریدها
                </a>
            </li>
            <li>
                <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="UserComments">
                    <i class="far fa-comment-alt-check"></i>
                    دیدگاه ها
                </a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="Logout" asp-route-url="@Context.GetCurrentUrl()" class="text-danger">
                    <i class="far fa-sign-in-alt text-danger"></i>
                    خروج
                </a>
            </li>
        </ul>
    </div>
</div>