@using KetabAbee.Application.Interfaces.Permission
@using KetabAbee.Application.Const
@using System.Security.Claims
@using KetabAbee.Application.Extensions
@inject IPermissionService _permissionService;
 <!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li>
        <a asp-controller="AdminHome" asp-action="Home">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> داشبورد </span>
        </a>
    </li>
    @if (_permissionService.CheckPermission(PerIds.AdminRoles, User.GetUserEmail()))
    {
        <!--Roles-->
        <li>
            <a asp-area="AdminPanel" asp-controller="AdminRole" asp-action="Index">
                <i class="menu-icon fa fa-user-secret"></i>
                <span class="menu-text"> مدیریت نقش ها </span>
            </a>
        </li>
    }
    @if (_permissionService.CheckPermission(PerIds.AdminUsers, User.GetUserEmail()))
    {
        <!--Users-->
        <li>
            <a asp-area="AdminPanel" asp-controller="AdminUser" asp-action="Index">
                <i class="menu-icon glyphicon glyphicon-user"></i>
                <span class="menu-text"> مدیریت کاربران </span>
            </a>
        </li>
    }
    @if (_permissionService.CheckPermission(PerIds.AdminTickets, User.GetUserEmail()))
    {
        <!--Tickets-->
        <li>
            <a asp-area="AdminPanel" asp-controller="AdminTicket" asp-action="Index">
                <i class="menu-icon glyphicon glyphicon-comment"></i>
                <span class="menu-text"> مدیریت تیکت ها </span>
            </a>
        </li>
    }
    @if (_permissionService.CheckPermission(PerIds.AdminGroups, User.GetUserEmail()))
    {
        <!--Groups-->
        <li>
            <a asp-area="AdminPanel" asp-controller="ProductGroup" asp-action="Index">
                <i class="menu-icon fa fa-bar-chart"></i>
                <span class="menu-text"> مدیریت دسته بندی ها </span>
            </a>
        </li>
    }
    @if (_permissionService.CheckPermission(PerIds.AdminBooks, User.GetUserEmail()))
    {
        <!--Books-->
        <li>
            <a asp-area="AdminPanel" asp-controller="AdminBook" asp-action="Index">
                <i class="menu-icon fa fa-book"></i>
                <span class="menu-text"> مدیریت کتاب ها </span>
            </a>
        </li>
    }
    @if (_permissionService.CheckPermission(PerIds.AdminOrders, User.GetUserEmail()))
    {
        <!--Orders-->
        <li>
            <a asp-area="AdminPanel" asp-controller="AdminOrder" asp-action="Index">
                <i class="menu-icon fa fa-book"></i>
                <span class="menu-text"> مدیریت سفارش ها </span>
            </a>
        </li>
    }
    @if (_permissionService.CheckPermission(PerIds.AdminNews, User.GetUserEmail()))
    {
        <!--news letter-->
        <li>
            <a asp-area="AdminPanel" asp-controller="AdminNews" asp-action="Index">
                <i class="menu-icon fa fa-paper-plane"></i>
                <span class="menu-text"> مدیریت خبرنامه ها </span>
            </a>
        </li>
    }
    @if (_permissionService.CheckPermission(PerIds.AdminContactUses, User.GetUserEmail()))
    {
        <!--news letter-->
        <li>
            <a asp-area="AdminPanel" asp-controller="AdminContactUs" asp-action="Index">
                <i class="menu-icon fa fa-hand-paper"></i>
                <span class="menu-text"> مدیریت تماس با ما </span>
            </a>
        </li>
    }

</ul>
<!-- /Sidebar Menu -->