<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>پنل ادمین | @ViewData["Title"]</title>
    <partial name="_AdminMetas" />
    @await RenderSectionAsync("Styles", false)
    <partial name="_AdminStyles" />

</head>

<body>
@await Component.InvokeAsync("AdminHeaderComponent")
<div class="main-container container-fluid">
        <div class="page-container">
            <div class="page-sidebar" id="sidebar">
                @await Component.InvokeAsync("AdminSideBarComponent")
            </div>
            <partial name="_ChatBar" />
            <div class="page-header position-relative">
                <div class="header-title">
                    <h1>
                        @ViewData["Title"]
                    </h1>
                </div>
                <partial name="_HeadPageButtons" />
            </div>
            <div class="page-body">
                <div class="page-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <partial name="_AdminScripts" />
    <partial name="_SiteMessages" />
    @await RenderSectionAsync("Scripts", false)
</body>

</html>
