 <!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li>
        <a asp-controller="AdminHome" asp-action="Home">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> داشبورد </span>
        </a>
    </li>
    <!--Users-->
    <li>
        <a asp-area="AdminPanel" asp-controller="AdminUser" asp-action="Index">
            <i class="menu-icon glyphicon glyphicon-user"></i>
            <span class="menu-text"> مدیریت کاربران </span>
        </a>
    </li>
    <!--Users-->
    <li>
        <a asp-area="AdminPanel" asp-controller="AdminTicket" asp-action="Index">
            <i class="menu-icon glyphicon glyphicon-comment"></i>
            <span class="menu-text"> مدیریت تیکت ها </span>
        </a>
    </li>
</ul>
<!-- /Sidebar Menu -->