@model List<KetabAbee.Application.DTOs.Book.BookListViewModel>
<div class="row mb-3">
    <div class="col-12 mb-4">
        <div class="section-title">
            <i class="fad fa-sort-size-up-alt"></i>
            پرفروش ترین ها
        </div>
    </div>
    @if (Model != null && Model.Any())
    {
        foreach (var book in Model)
        {
            <partial name="_BestSellingBookBox" model="book" />
        }
    }
    else
    {
        <div class="alert alert-info">کالایی برای نمایش وجود ندارد</div>
    }
</div>
