
@{
    ViewData["Title"] = "راهنمای آزمون";
}

<div class="container">
    <div>
        <h2>ایجاد آزمون:</h2>
        <div class="alert alert-info">
            <p>از دکمه افزودن آزمون یک آزمون ایجاد کنید و اطلاع مورد نیاز را پر کیند</p>
            <p>پس از ثبت آزمون از لیست آزمون ها گزینه مشاهده آزمون  مورد نظر را انتخاب کنید</p>
            <p>در قسمت مشاهده آزمون پاسخ صحیح سوال ها را مشخص کنید و اگر میخواهید سوال جدیدی اضافه کنید</p>
            <p>توجه کنید که یک کتاب نمیتواند دو آزمون فعال داشته باشد</p>
        </div>
    </div>
</div>
