@model KetabAbee.Application.DTOs.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        function getPassStrength() {
            var passInput = $('#Password').val();
            jQuery("#show-strength-div").html('');
            $.ajax({
                url: "/UserPanel/Get/Password-Strength-Json?password=" + passInput,
                type: "GET",
                success: function (data) {
                    $("#show-strength-div").append(data);
                }
            });
        }
    </script>
}
<main class="page-content mt-205 none-transform">
    <div class="container none-transform">
        <div class="row mb-5 none-transform">
            <partial name="_UserPanelSideBar_Col3_205px" />
            <div class="col-lg-9 col-md-8">
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="section-title mb-2">
                            تغییر کلمه عبور
                        </div>
                        <section class="shadow-around p-3">
                            <form asp-action="ChangePassword" method="post">
                                <input type="hidden" asp-for="StrongPassword" />
                                <div class="row">
                                    <div class="col-md-12 mb-5">
                                        <div class="text-sm text-muted mb-3">کلمه عبور فعلی:</div>
                                        <div class="text-dark font-weight-bold">
                                            <div class="form-element-row mb-0">
                                                <input type="text" class="input-element" asp-for="OldPassword">
                                            </div>
                                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <div class="text-sm text-muted mb-3">کلمه عبور جدید:</div>
                                        <div class="text-dark font-weight-bold">
                                            <div class="form-element-row mb-0">
                                                <input onchange="getPassStrength()" type="text" class="input-element" asp-for="Password">
                                            </div>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <div class="text-sm text-muted mb-3">تکرار کلمه عبور جدید:</div>
                                        <div class="text-dark font-weight-bold">
                                            <div class="form-element-row mb-0">
                                                <input type="text" class="input-element" asp-for="ConfirmPassword">
                                            </div>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <div class="text-sm text-muted mb-3">قدرت رمز عبور:</div>
                                        <div class="text-dark">
                                            <div class="form-element-row mb-0" id="show-strength-div">
                                                رمز عبور جدید را وارد کنید تا بررسی شود ...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <div class="text-sm text-muted mb-3">رمز عبور پیشنهادی:</div>
                                        <div class="text-dark">
                                            <div class="form-element-row mb-0">
                                                @Model.StrongPassword
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-element-row text-left">
                                            <button type="submit" class="btn-element btn-success-element">
                                                <i class="fad fa-edit"></i>
                                                تغییر کلمه عبور
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("MainAndProfileBannersComponent")
    </div>
</main>

