<div class="row mb-5">
    <div class="col-md-3 col-6 mb-lg-0 mb-3">
        <div class="banner">
            <a href="/Books?PageNum=1&Exist=true&Exist=false">
                <img src="/images/banner/banner-sm-04-min.jpg" alt="کتابهای ما">
            </a>
        </div>
    </div>
    <div class="col-md-3 col-6 mb-lg-0 mb-3">
        <div class="banner">
            <a href="/Books?SelectedPublishers=1">
                <img src="/images/banner/banner-sm-05-min.jpg" alt="کتابهای نشر چشمه">
            </a>
        </div>
    </div>
    <div class="col-md-3 col-6 mb-lg-0 mb-3">
        <div class="banner">
            <a href="/Books?SelectedPublishers=2">
                <img src="/images/banner/banner-sm-06-min.jpg" alt="کتابهای نشر کوله پشتی">
            </a>
        </div>
    </div>
    <div class="col-md-3  col-6 mb-lg-0 mb-3">
        <div class="banner">
            <a href="/Books?SearchCategory=2">
                <img src="/images/banner/banner-sm-07-min.jpg" alt="کتابهایی مخصوص نوجوانان و کودکان">
            </a>
        </div>
    </div>
</div>