<div class="row mb-5">
    <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
        <div class="banner">
            <a href="#">
                <img src="/images/banner/banner-sm-01.jpg" alt="banner">
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
        <div class="banner">
            <a href="#">
                <img src="/images/banner/banner-sm-02.jpg" alt="banner">
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
        <div class="banner">
            <a href="#">
                <img src="/images/banner/banner-sm-03.jpg" alt="banner">
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-3">
        <div class="banner">
            <a href="#">
                <img src="/images/banner/banner-sm-04.jpg" alt="banner">
            </a>
        </div>
    </div>
</div>