@model KetabAbee.Application.DTOs.Comment.CreateCommentAnswerViewModel

<form id="AnswerForm" asp-controller="Book" asp-action="AddAnswer">
    <div class="modal-header">
        <h5 class="modal-title">افزودن پاسخ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> 
    <div class="modal-body">
        <div class="row">

            <input type="hidden" asp-for="BookId" />
            <input type="hidden" asp-for="CommentId" />

            <div class="col-md-12">
                <label>متن پاسخ</label>
                <textarea class="form-control" rows="5" asp-for="AnswerBody"></textarea>
                <span asp-validation-for="AnswerBody" class="text-danger"></span>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">انصراف</button>
        <button type="submit" class="btn btn-success">افزودن</button>
    </div>
</form>