<div class="col-md-4 col-sm-4 col-12 mb-1">
    <div class="blog-card">
        <div class="blog-card-thumbnail">
            <a href="#">
                <img src="/images/blog/samsung-galaxy-buds-pro-2-284x180.jpg" alt="سامسونگ از گلکسی بادز پرو رونمایی کرد">
            </a>
        </div>
        <div class="blog-card-title">
            <h2><a href="#">سامسونگ از گلکسی بادز پرو رونمایی کرد</a></h2>
        </div>
        <div class="blog-card-excerpt">
            <p>
                سامسونگ در مراسم امروز از گلکسی بادز پرو با قیمت ۱۹۹ دلار رونمایی
                کرد. گلکسی
                بادز پرو پرمیوم‌ترین ای ...
            </p>
        </div>
        <div class="blog-card-footer">
            <div class="author">
                <img src="/images/avatar/avatar.png" alt="بهرامی راد">
                <a href="#">جلال بهرامی راد</a>
            </div>
            <div class="date">
                <i class="fad fa-clock"></i>
                ۱۲ ساعت قبل
            </div>
        </div>
    </div>
</div>