<div class="services pt-3 row mx-0">
    <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
        <div class="service-item">
            <img src="/images/services/delivery-person.png" alt="">
            <div class="service-item-body">
                <h6>تحویل سریع و رایگان</h6>
                <p>تحویل رایگان کالا برای کلیه سفارشات بیش از 500 هزار تومان</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
        <div class="service-item">
            <img src="/images/services/recieve.png" alt="">
            <div class="service-item-body">
                <h6>۷ روز ضمانت بازگشت</h6>
                <p>در صورت نارضایتی به هر دلیلی می توانید محصول را بازگردانید</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
        <div class="service-item">
            <img src="/images/services/headset.png" alt="">
            <div class="service-item-body">
                <h6>پشتیبانی ۲۴ ساعته</h6>
                <p>در صورت وجود هرگونه سوال یا ابهامی، با ما در تماس باشید</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
        <div class="service-item">
            <img src="/images/services/debit-card.png" alt="">
            <div class="service-item-body">
                <h6>پرداخت آنلاین ایمن</h6>
                <p>محصولات مدنظر خود را با خیال آسوده به صورت آنلاین خریداری کنید</p>
            </div>
        </div>
    </div>
</div>