<!-- Page Footer -->
<!-- Page Loader -->
<div class="page-loader">
    <div class="page-loader-content">
        <div class="logo-area">
            <img src="/images/logo.png" alt="لوگو">
        </div>
        <span class="loader"></span>
    </div>
</div>
<!-- end Page Loader -->

<footer class="main-footer">
    <div class="back-to-top">
        <div class="back-btn">
            <i class="far fa-chevron-up icon"></i>
            <span>برگشت به بالا</span>
        </div>
    </div>
    <div class="container">
        <div class="services row mb-5">
            <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                <div class="service-item">
                    <img src="/images/services/delivery-person.png" alt="">
                    <div class="service-item-body">
                        <h6>تحویل سریع و رایگان</h6>
                        <p>تحویل رایگان کالا برای کلیه سفارشات بیش از 500 هزار تومان</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                <div class="service-item">
                    <img src="/images/services/recieve.png" alt="">
                    <div class="service-item-body">
                        <h6>۷ روز ضمانت بازگشت</h6>
                        <p>در صورت نارضایتی به هر دلیلی می توانید محصول را بازگردانید</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                <div class="service-item">
                    <img src="/images/services/headset.png" alt="">
                    <div class="service-item-body">
                        <h6>پشتیبانی ۲۴ ساعته</h6>
                        <p>در صورت وجود هرگونه سوال یا ابهامی، با ما در تماس باشید</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                <div class="service-item">
                    <img src="/images/services/debit-card.png" alt="">
                    <div class="service-item-body">
                        <h6>پرداخت آنلاین ایمن</h6>
                        <p>محصولات مدنظر خود را با خیال آسوده به صورت آنلاین خریداری کنید</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links">
                    <h2 class="widget-title">دسته بندی کالاها</h2>
                    <ul class="widget-list">
                        <li class="widget-list-item">
                            <a href="/Books?SearchCategory=1" class="widget-list-link">کتاب بزرگسال</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="/Books?SearchCategory=2" class="widget-list-link">کتاب کودک و نوجوان</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="/Books?SearchCategory=6" class="widget-list-link">هنر</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="/Books?SearchCategory=7" class="widget-list-link">فلسفه</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="/Books?SearchCategory=8" class="widget-list-link">رشد شخصی</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="/Books?SearchCategory=25" class="widget-list-link">رمان</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="/Books?SearchCategory=29" class="widget-list-link">مذهبی</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="/Books?SearchCategory=30" class="widget-list-link">ادیان</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="/Books?SearchCategory=38" class="widget-list-link">علمی</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links">
                    <h2 class="widget-title">راهنمای خرید از کتاب آبی</h2>
                    <ul class="widget-list">
                        <li class="widget-list-item">
                            <a asp-controller="Home" asp-action="HowToShop" class="widget-list-link">نحوه ثبت سفارش</a>
                        </li>
                        <li class="widget-list-item">
                            <a id="Send-Order-Guid" class="Send-Order-Guid widget-list-link">رویه ارسال سفارش</a>
                        </li>
                        <li class="widget-list-item">
                            <a id="Pay-Order-Way" class="widget-list-link">شیوه‌ پرداخت</a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-links">
                    <h2 class="widget-title">خدمات مشتریان</h2>
                    <ul class="widget-list">
                        <li class="widget-list-item">
                            <a id="Return-Product-Way" class="widget-list-link">رویه‌ بازگرداندن کالا</a>
                        </li>
                        <li class="widget-list-item">
                            <a id="Privecy--User" class="widget-list-link">حریم خصوصی</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <partial name="_Newsletters"/>
                <div class="widget">
                    <h2 class="widget-title">
                        ما را در شبکه‌های اجتماعی دنبال کنید:
                    </h2>
                    <div class="social">
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/in/alirezamininasab" target="_blank" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/alirez.amni/" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://api.whatsapp.com/send?phone=+989300804882" target="_blank" class="text-success"><i class="fab fa-whatsapp"></i></a>
                            </li>
                            <li>
                                <a href="https://web.telegram.org/#/im?p=@@mrnotmillionD" target="_blank" class="telegram"><i class="fab fa-telegram-plane"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <div class="logo-area">
                    <a href="/">
                        <img src="/images/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-12">
                <div class="widget widget-links mb-2">
                    <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                        <li class="widget-list-item ml-4">
                            <a asp-controller="Home" asp-action="AboutUs" class="widget-list-link">درباره کتاب آبی</a>
                        </li>
                        <li class="widget-list-item ml-4">
                            <a asp-controller="Home" asp-action="ContactUs" class="widget-list-link">تماس با ما</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <div class="copy-right">
                    <p>© تمامی حقوق این وب سایت متعلق به " فروشگاه کتاب آنلاین آبی " می باشد. تولید و توسعه توسط : <a href="https://www.linkedin.com/in/alirezamininasab" target="_blank">علیرضا امینی نسب</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

