<!DOCTYPE html>
<html lang="en">

<head>

    <partial name="_Metas" />

    <title>@ViewData["Title"]</title>

    <partial name="_Styles" />
    @await RenderSectionAsync("Styles",false)
</head>

<body>

    <div class="page-wrapper">

        <partial name="_Header" />

        @RenderBody()

        <partial name="_Footer" />

    </div>

    <partial name="_Scripts" />
    <partial name="_SiteMessages" />
    @await RenderSectionAsync("Scripts", false)

</body>

</html>