<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/book.png" type="image/gif" sizes="16x16">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/Player/Player.css" />
</head>
<body>
    @RenderBody()
<script src="/Player/Player.js"></script>
</body>
</html>