@model List<KetabAbee.Domain.Models.Products.ProductGroup>
    <li class="category-list">
        <a href="#"><i class="fal fa-bars"></i>دسته بندی کالاها</a>
        <ul>
            <li>
                <a href="#">کالای دیجیتال</a>
                <ul class="row">
                    <li class="col-12"><a href="#">همه دسته‌بندی‌های کالای دیجیتال</a></li>
                    <li class="col-3">
                        <a href="#">لوازم جانبی گوشی</a>
                        <ul>
                            <li><a href="#">کیف و کاور گوشی</a></li>
                            <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                            <li><a href="#">پایه نگهدارنده گوشی</a></li>
                        </ul>
                        <a href="#">گوشی موبایل</a>
                        <ul>
                            <li><a href="#">سامسونگ</a></li>
                            <li><a href="#">هوآوی</a></li>
                            <li><a href="#">اپل</a></li>
                            <li><a href="#">شیائومی</a></li>
                            <li><a href="#">آنر</a></li>
                            <li><a href="#">نوکیا</a></li>
                        </ul>
                        <a href="#">واقعیت مجازی</a>
                        <a href="#">مچ‌بند و ساعت هوشمند</a>
                    </li>
                    <li class="col-3">
                        <a href="#">هدفون، هدست، هندزفری</a>
                        <a href="#">اسپیکر بلوتوث و با سیم</a>
                        <a href="#">هارد، فلش و SSD</a>
                        <a href="#">دوربین</a>
                        <ul>
                            <li><a href="#">دوربین عکاسی دیجیتال</a></li>
                            <li><a href="#">دوربین‌ ورزشی و فیلم برداری</a></li>
                            <li><a href="#">دوربین‌ چاپ سریع</a></li>
                        </ul>
                        <a href="#">لوازم جانبی دوربین</a>
                        <ul>
                            <li><a href="#">لنز</a></li>
                            <li><a href="#">کیف</a></li>
                            <li><a href="#">کارت حافظه</a></li>
                            <li><a href="#">کاغذ چاپ عکس</a></li>
                        </ul>
                        <a href="#">دوربین دوچشمی و شکاری</a>
                    </li>
                    <li class="col-3">
                        <a href="#">لوازم جانبی گوشی</a>
                        <ul>
                            <li><a href="#">کیف و کاور گوشی</a></li>
                            <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                            <li><a href="#">پایه نگهدارنده گوشی</a></li>
                        </ul>
                        <a href="#">گوشی موبایل</a>
                        <ul>
                            <li><a href="#">سامسونگ</a></li>
                            <li><a href="#">هوآوی</a></li>
                            <li><a href="#">اپل</a></li>
                            <li><a href="#">شیائومی</a></li>
                            <li><a href="#">آنر</a></li>
                            <li><a href="#">نوکیا</a></li>
                        </ul>
                        <a href="#">واقعیت مجازی</a>
                        <a href="#">مچ‌بند و ساعت هوشمند</a>
                    </li>
                    <li class="col-3">
                        <a href="#">هدفون، هدست، هندزفری</a>
                        <a href="#" class="list-item--image my-3">
                            <img src="images/mega-menu/01.jpg" class="img-fluid rounded"
                                 alt="">
                        </a>
                        <a href="#">برندها</a>
                        <ul class="d-flex my-3">
                            <li>
                                <a href="#" class="list-item--image ml-1 border rounded p-1">
                                    <img src="images/mega-menu/brand-1.jpg"
                                         class="img-fluid rounded" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#" class="list-item--image ml-1 border rounded p-1">
                                    <img src="images/mega-menu/brand-2.jpg"
                                         class="img-fluid rounded" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#" class="list-item--image ml-1 border rounded p-1">
                                    <img src="images/mega-menu/brand-3.jpg"
                                         class="img-fluid rounded" alt="">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
