@using KetabAbee.Domain.Models.Ticket
@model KetabAbee.Application.DTOs.Ticket.AddTicketViewmodel
@{
    ViewData["Title"] = "افزودن تیکت";
}

<main class="page-content mt-205 none-transform">
    <div class="container none-transform">
        <div class="row mb-5 none-transform">
            <partial name="_UserPanelSideBar_Col3_205px" />
            <div class="col-lg-9 col-md-8">
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="section-title mb-2">
                            تیکت جدید
                        </div>
                        <section class="shadow-around p-3">
                            <form asp-action="AddTicket" method="post">
                                <partial name="_CaptchaInput" />
                                <div class="row">
                                    <div class="col-md-6 mb-5">
                                        <div class="text-sm text-muted mb-3">عنوان:</div>
                                        <div class="text-dark font-weight-bold">
                                            <div class="form-element-row mb-0">
                                                <input type="text" class="input-element" asp-for="Title">
                                            </div>
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <div class="text-sm text-muted mb-3">اهمیت:</div>
                                        <div class="text-dark font-weight-bold">
                                            <div class="form-element-row mb-0">
                                                <select asp-for="TicketPriority" asp-items="@(Html.GetEnumSelectList<TicketPriority>())" class="input-element"></select>
                                            </div>
                                            <span asp-validation-for="TicketPriority" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <div class="text-sm text-muted mb-3">متن تیکت:</div>
                                        <div class="text-dark font-weight-bold">
                                            <div class="form-element-row mb-0">
                                                <textarea class="form-control" asp-for="Body"></textarea>
                                            </div>
                                            <span asp-validation-for="Body" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-element-row text-left">
                                            <button type="submit" class="btn-element btn-success-element">
                                                <i class="fad fa-registered"></i>
                                                ثبت تیکت
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("MainAndProfileBannersComponent")
    </div>
</main>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <partial name="_CaptchaScripts" />

    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Body', {
            customConfig: '/js/Config.js'
        });
    </script>
}

