
@{
    ViewData["Title"] = "درباره کتاب آبی";
}

<main class="page-content">
    <div class="container">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb mb-2 ">
                        <nav class="pt-0">
                            <a href="/">کتاب آبی</a>
                            <a>درباره ما</a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="card card-body">
                <h3 class="title  mb-2">کتاب آبی</h3>
                <p>مجموعه کتاب آبی با هدف دسترسی آسان دوستداران کتاب به محصولات فرهنگی &nbsp;1400 آغاز به کار کرد.</p>

                <p>&nbsp;</p>

                <p>امید است که در این راه بتوانیم به درستی خدمتگذار شما عزیزان باشیم.</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <div class="blog-card-thumbnail">
                    <img src="/images/banner/BannerAbee-min.jpg" alt="بنر کتاب آبی" class="shadow rounded img-fluid">
                </div>
            </div>
        </div>

    </div>
</main>

