@model KetabAbee.Application.DTOs.Contact.CreateContactUsViewModel
@{
    ViewData["Title"] = "تماس با ما";
}
<main class="page-content mt-205">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title mb-2">
                    تماس با ما
                </div>
            </div>
            <div class="row col-12 col-md-12 p-3">
                <div class="card shadow-around col-12 col-md-6 p-3 mb-5">
                    <div class="row mr-4 text-center mb-2">
                        <a onclick="return confirm('تماس با 09300804882 برقرار شود ؟')" href="tel: 09300804882" class="btn btn-info col-md-2">
                            <abbr><i class="fa fa-phone"></i></abbr>
                        </a>
                        <a onclick="return confirm('تماس با 09300804882 برقرار شود ؟')" href="tel: 09300804882" class="col-md-9 btn btn-info mr-1">
                            09300804882
                        </a>
                    </div>
                    <div class="row mr-4 text-center mb-2">
                        <a title="mranotmiiliion@gmail.com" href="mailto: mranotmillion@gmail.com" class="btn btn-success col-md-2">
                            <abbr><i class="fa fa-envelope"></i></abbr>
                        </a>
                        <a href="mailto: mranotmillion@gmail.com" class="col-md-9 btn btn-success mr-1">
                            Mranotmillion@gmail.com
                        </a>
                    </div>
                    <div class="row mr-4 text-center mb-2">
                        <a title="alirez.amni" href="https://www.instagram.com/alirez.amni/" class="btn btn-danger col-md-2">
                            <abbr><i class="fab fa-instagram"></i></abbr>
                        </a>
                        <a href="https://www.instagram.com/alirez.amni/" class="col-md-9 btn btn-danger mr-1">
                            instagram.com/alirez.amni
                        </a>
                    </div>
                    <div class="row mr-4 text-center mb-2">
                        <a title="alirezamininasab" href="https://www.linkedin.com/in/alirezamininasab" class="btn btn-primary col-md-2">
                            <abbr><i class="fab fa-linkedin"></i></abbr>
                        </a>
                        <a href="https://www.linkedin.com/in/alirezamininasab" class="col-md-9 btn btn-primary mr-1">
                            linkedin.com/in/alirezamininasab
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="text-center col-md-12">
                        <p class="alert alert-info">
                            <i class="fa fa-info"></i>
                            اگر که پیام شما نیاز به پیگیری دارد از  طریق پنل کاربری خود تیکت ارسال کنید
                        </p>
                        <p class="alert alert-success">
                            <i class="fa fa-check"></i>
                            در صورتی که به پیگیری نیاز ندارد از طریق دکمه زیر اقدام کنید
                        </p>
                        <a class="btn btn-success mb-2 col-md-3" onclick="LoadContactUsModalBody()">ارسال پیام</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-2">
                    تعطیلات کتاب آبی
                </div>
            </div>
            <div class="col-12">
                <div class="shadow-around p-3">
                    <ul class="d-flex flex-wrap justify-content-center">
                        <li class="shadow-around text-center px-2 py-3 m-2 w-120">
                            <strong class="d-block h1">جمعه</strong>
                            <span class="d-block mb-2">هر هفته</span>
                            <hr>
                            <span class="d-block mt-2">استراحت کارکنان</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="ContactUsModal" tabindex="-1" aria-labelledby="ContactUsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="ContactUsModalContent">
        </div>
    </div>
</div>
