@model KetabAbee.Application.DTOs.Contact.CreateContactUsViewModel
@{
    ViewData["Title"] = "تماس با ما";
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <partial name="_CaptchaScripts" />
}
<main class="page-content" style="margin-top: 205.5px;">
    <div class="container">
        <form asp-controller="Home" asp-action="ContactUs" method="post">
            <partial name="_CaptchaInput" />
            <div class="row">
                <div class="col-12">
                    <div class="section-title mb-2">
                        تماس با ما
                    </div>
                </div>
                <div class="col-12">
                    <div class="shadow-around p-3 mb-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-element-row">
                                    <label class="label-element">موضوع*</label>
                                    <input type="text" asp-for="Subject" class="input-element">
                                </div>
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <div class="form-element-row">
                                    <label class="label-element">نام*</label>
                                    <input type="text" asp-for="UserName" class="input-element">
                                </div>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <div class="form-element-row">
                                    <label class="label-element">ایمیل*</label>
                                    <input type="email" asp-for="Email" class="input-element dir-ltr">
                                </div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <div class="form-element-row">
                                    <label class="label-element">پیام*</label>
                                    <textarea asp-for="Body" cols="30" rows="10" class="input-element"></textarea>
                                </div>
                                <span asp-validation-for="Body" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <div class="form-element-row text-left">
                                    <button class="btn-element btn-info-element">
                                        ثبت و ارسال
                                        <i class="fad fa-money-check-edit mr-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-2">
                    تعطیلات کتاب آبی
                </div>
            </div>
            <div class="col-12">
                <div class="shadow-around p-3">
                    <ul class="d-flex flex-wrap justify-content-center">
                        <li class="shadow-around text-center px-2 py-3 m-2 w-120">
                            <strong class="d-block h1">جمعه</strong>
                            <span class="d-block mb-2">هر هفته</span>
                            <hr>
                            <span class="d-block mt-2">استراحت کارکنان</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
