
@{
    ViewData["Title"] = "تماس با ما";
}

<main class="page-content" style="margin-top: 205.5px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-2">
                    تماس با همتا
                </div>
            </div>
            <div class="col-12">
                <div class="shadow-around p-3 mb-5">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <p class="text-muted text-sm">
                                برای پیگیری یا سوال درباره سفارش و ارسال پیام بهتر است
                                از فرم زیر استفاده کنید.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="form-element-row">
                                <label class="label-element">موضوع*</label>
                                <select name="" id="" class="select2 select2-hidden-accessible" data-select2-id="select2-data-1-l2s7" tabindex="-1" aria-hidden="true">
                                    <option value="0" data-select2-id="select2-data-3-o3k7">--انتخاب موضوع--</option>
                                    <option value="1">پیشنهاد</option>
                                    <option value="2">انتقاد یا شکایات</option>
                                    <option value="3">پیگیری سفارش</option>
                                    <option value="4">خدمات پس از فروش</option>
                                    <option value="5">مدیریت</option>
                                    <option value="6">سایر موضوعات</option>
                                </select><span class="select2 select2-container select2-container--default" dir="rtl" data-select2-id="select2-data-2-p05n" style="width: 143px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2--container"><span class="select2-selection__rendered" id="select2--container" role="textbox" aria-readonly="true" title="--انتخاب موضوع--">--انتخاب موضوع--</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-element-row">
                                <label class="label-element">نام و نام خانوادگی*</label>
                                <input type="text" class="input-element" value="جلال بهرامی راد">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-element-row">
                                <label class="label-element">ایمیل*</label>
                                <input type="email" class="input-element dir-ltr" value="example@example.com">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-element-row">
                                <label class="label-element">تلفن تماس*</label>
                                <input type="email" class="input-element dir-ltr" value="09xxxxxxxxx">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-element-row">
                                <label class="label-element">پیام*</label>
                                <textarea name="" id="" cols="30" rows="10" class="input-element"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-element-row text-left">
                                <button class="btn-element btn-info-element">
                                    ثبت و ارسال
                                    <i class="fad fa-money-check-edit mr-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-2">
                    تعطیلات همتا
                </div>
            </div>
            <div class="col-12">
                <div class="shadow-around p-3">
                    <ul class="d-flex flex-wrap justify-content-center">
                        <li class="shadow-around text-center px-2 py-3 m-2 w-120">
                            <strong class="d-block h1">۱۳</strong>
                            <span class="d-block mb-2">فروردین</span>
                            <hr>
                            <span class="d-block mt-2">روز طبیعت</span>
                        </li>
                        <li class="shadow-around text-center px-2 py-3 m-2 w-120">
                            <strong class="d-block h1">۱۰</strong>
                            <span class="d-block mb-2">مرداد</span>
                            <hr>
                            <span class="d-block mt-2">عيد سعيد قربان</span>
                        </li>
                        <li class="shadow-around text-center px-2 py-3 m-2 w-120">
                            <strong class="d-block h1">۲۹</strong>
                            <span class="d-block mb-2">اسفند</span>
                            <hr>
                            <span class="d-block mt-2">روز ملي شدن صنعت نفت ايران</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
