
@{
    ViewData["Title"] = "چطور در کتاب آبی سفارش خود را ثبت کنم ؟";
}

<main class="page-content">
    <div class="container">
        <div class="col-lg-12 col-md-12 order-1 order-md-2">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="shadow-around">
                        <div class="px-3">
                            <!-- breadcrumb -->
                            <div class="breadcrumb py-2">
                                <nav>
                                    <a href="/">کتاب آبی</a>
                                    <a asp-controller="Home" asp-action="HowToShop">نحوه ثبت سفارش</a>
                                </nav>
                            </div>
                            <!-- end breadcrumb -->
                            <div class="blog-card single-blog">
                                <div class="blog-card-title mb-3">
                                    <h2 class="text-right">
                                        <a href="#">
                                            چطور در کتاب آبی سفارش خود را ثبت کنم ؟
                                        </a>
                                    </h2>
                                </div>
                                
                                <div class="blog-card-body">
                                    <p>
                                        1.وارد حساب کاربری خود شوید.
                                    </p>
                                    <img src="/images/blog/blog-detail/B1.jpg" alt="دکمه ورود به صفحه عضویت">
                                    <p>
                                        2.محصول مورد نظر خود را جستجو کنید.
                                    </p>
                                    <img src="/images/blog/blog-detail/‌B3.jpg" alt="جستجوی محصول">
                                    <p>
                                        3.بعد از انتخاب کالای مورد نظر روی افزودن به سبد خرید کلیک کنید.
                                    </p>
                                    <img src="/images/blog/blog-detail/B4.jpg" alt="افزودن محصول به سبد خرید">
                                    <p>
                                        4.در سبد خرید می توانید تعداد کالا را مشخص کنید و یا ان را از سبد خرید خود حذف کنید برای نهایی کردن خرید خود روی خرید نهایی کلیک کنید.
                                    </p>
                                    <img src="/images/blog/blog-detail/B5.jpg" alt="افزودن محصول به سبد خرید">
                                </div>
                            </div>
                            <div class="tags mb-5">
                                <a href="">#راهنمای-خرید</a>
                                <a href="">#خرید</a>
                                <a href="">#نحوه-سفارش</a>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>