@{
    ViewData["Title"] = "کتاب آبی";
}
@section MetaTag
{
    <meta name="googlebot" content="index,follow" />
    <meta name="robots" content="noodp,noydir" />
    <meta name="description" content="هر آنچه که نیاز دارید با بهترین قیمت از کتاب آبی بخرید! جدیدترین انواع کتاب انگیزشی، فلسفی، توسعه فردی، رمان و داستان، کتاب کودک، آموزشی، نقاشی و... با امکان تعویض و مرجوعی آسان | ✓ارسال رايگان ✓پرداخت در محل ✓ضمانت بازگشت کالا - برای خرید کلیک کنید!" />
    <meta property=og:site_name value="کتابفروشی کتاب آبی" />
    <meta property=og:title content="کتابفروشی کتاب آبی" />
    <meta property=og:url content="https://haamechitamoom.ir/" />
    <meta property=og:image:width content="700"/>
    <meta property=og:image:type content="image/jpg" />
    <meta property=og:description content="">
    <meta property=og:price:currency content="IRR" />
    <meta property=og:locale content="ir_FA" />
}
<main class="page-content">
    <div class="container">
        @await Component.InvokeAsync("HeadBannersComponent")
        <section class="product-carousel in-box">
            <div class="section-title">
                <i class="fad fa-pen-nib text-info"></i>
                تازه ها
            </div>
            <div class="swiper-container slider-lg">
                <cache expires-after="TimeSpan.FromMinutes(5)">
                    @await Component.InvokeAsync("LatestBooksComponent")
                </cache>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </section>
        @await Component.InvokeAsync("MainAndProfileBannersComponent")
        @await Component.InvokeAsync("MainBannersComponent")
        <cache expires-after="TimeSpan.FromMinutes(15)">
            @await Component.InvokeAsync("BestSellingBooksComponent")
        </cache>
        <hr />
        <div class="row mb-3 mt-4">
            <div class="col-12 mb-4">
                <div class="section-title">
                    <i class="fad fa-blog text-primary"></i>
                    مجله آبی
                </div>
            </div>
            <cache expires-after="TimeSpan.FromMinutes(15)">
                @await Component.InvokeAsync("LatestBlogsComponent")
            </cache>
        </div>
    </div>ـ
</main>


