@using KetabAbee.Application.Extensions
@{
    ViewData["Title"] = "کتاب آبی";
}
@section MetaTag
{
    <meta name="googlebot" content="index,follow" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="هر آنچه که نیاز دارید با بهترین قیمت از کتاب آبی بخرید! جدیدترین انواع کتاب انگیزشی، فلسفی، توسعه فردی، رمان و داستان، کتاب کودک، آموزشی، نقاشی و... با امکان تعویض و مرجوعی آسان | ✓ارسال رايگان ✓پرداخت در محل ✓ضمانت بازگشت کالا - برای خرید کلیک کنید!" />
    <meta property=og:site_name value="کتابفروشی کتاب آبی" />
    <meta property=og:title content="کتابفروشی کتاب آبی" />
    <meta property=og:url content="@CommonExtensions.DomainAddress" />
    <meta property="og:image" content="@CommonExtensions.DomainAddress/images/logo.png">
    <meta property="og:image:url" content="@CommonExtensions.DomainAddress/images/logo.png">
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="کتاب آبی" />
    <meta property=og:description content="هر آنچه که نیاز دارید با بهترین قیمت از کتاب آبی بخرید! جدیدترین انواع کتاب انگیزشی، فلسفی، توسعه فردی، رمان و داستان، کتاب کودک، آموزشی، نقاشی و... با امکان تعویض و مرجوعی آسان | ✓ارسال رايگان ✓پرداخت در محل ✓ضمانت بازگشت کالا - برای خرید کلیک کنید!">
    <meta property=og:price:currency content="IRR" />
    <meta property=og:locale content="ir_FA" />
}
<main class="page-content">
    <div class="container">
        <cache expires-after="TimeSpan.FromMinutes(5)">
            @await Component.InvokeAsync("HeadBannersComponent")
        </cache>
        <section class="product-carousel in-box">
            <div class="section-title">
                <i class="fad fa-pen-nib text-info"></i>
                تازه ها
            </div>
            <div class="swiper-container slider-lg">
                @await Component.InvokeAsync("LatestBooksComponent")
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </section>
        @await Component.InvokeAsync("MainAndProfileBannersComponent")
        @await Component.InvokeAsync("MainBannersComponent")
        @await Component.InvokeAsync("BestSellingBooksComponent")
        <hr />
        <div class="row mb-3 mt-4">
            <div class="col-12 mb-4">
                <div class="section-title">
                    <i class="fad fa-blog text-primary"></i>
                    مجله آبی
                </div>
            </div>
            <cache expires-after="TimeSpan.FromMinutes(15)">
                @await Component.InvokeAsync("LatestBlogsComponent")
            </cache>
        </div>
    </div>ـ
</main>


