
@{
    ViewData["Title"] = "یافت نشد";
}

<main class="page-content mt-205">
    <div class="container">
        <div class="empty-box empty-box--404">
            <div class="message mb-5">
                <p class="text-muted mb-5">
                    صفحه‌ای که دنبال آن بودید پیدا نشد!
                    <img src="/images/theme/search.svg" alt="search image">
                </p>
                <div class="form-element-row">
                    <a href="/" class="btn-element btn-info-element py-3">
                        <i class="fad fa-undo"></i>
                        بازگشت به صفحه اصلی
                    </a>
                </div>
            </div>
            <div class="pic">
                <img src="/images/theme/404.svg" alt="404 image">
            </div>
        </div>
    </div>
</main>
