@model KetabAbee.Application.DTOs.Blog.FilterBlogsIndexViewModel
@{
    ViewData["Title"] = "مقالات";
}

<form id="filterform" asp-controller="Blog" asp-action="Index" method="get">
    <input type="hidden" asp-for="PageNum"/>
    <main class="page-content" style="margin-top: 205.5px; transform: none;">
        <div class="container" style="transform: none;">
            <div class="row mb-5" style="transform: none;">
                <div class="col-lg-3 col-md-4 sticky-sidebar filter-options-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

                    <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                        <div class="d-md-none">
                            <div class="header-filter-options">
                                <span>جستجوی پیشرفته <i class="fad fa-sliders-h"></i></span>
                                <button class="btn-close-filter-sidebar"><i class="fal fa-times"></i></button>
                            </div>
                        </div>
                        <div class="sidebar-widget">
                            <div class="widget shadow-around">
                                <div class="widget-title">جستجو</div>
                                <div class="widget-content">
                                    <div class="search-in-options form-element-row">
                                        <div class="form-element-with-icon">
                                            <input class="input-element" placeholder="جستجوی عنوان مقاله ..." type="text" name="BlogTitle" value="">
                                            <i class="fad fa-file-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                            <div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                                <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 302px; height: 1983px;"></div></div>
                            <div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                                <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="d-md-none">
                        <button class="btn-filter-sidebar">
                            جستجوی پیشرفته <i class="fad fa-sliders-h"></i>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- breadcrumb -->
                            <div class="breadcrumb mb-2 pt-2">
                                <nav>
                                    <a href="/">کتاب آبی</a>
                                    <a asp-controller="Blog" asp-action="Index">مقالات</a>
                                </nav>
                            </div>
                            <!-- end breadcrumb -->
                        </div>
                    </div>
                    <div class="listing-items blog-listing-items">
                        <div class="row">
                            @if (Model.Blogs != null && Model.Blogs.Any())
                            {
                                foreach (var blog in Model.Blogs)
                                {
                                    <partial name="_BlogBox" model="blog"/>
                                }
                            }
                            else
                            {
                                <div class="col-12 text-center alert alert-warning">
                                    مقاله ای برای نمایش وجود ندارد
                                </div>
                                <div class="col-12 px-0">
                                    <div class="pagination">
                                        <a class="current">0</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 px-0">
                            <partial name="_Paging" model="@Model.GetCurrentPaging()"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</form>