@{
    ViewData["Title"] = "فعالسازی";
}
<div class="page-wrapper auth-page-wrapper">

    <!-- Page Content -->
    <main class="page-content">
        <div class="container">
            <div class="auth-wrapper">
                <div class="auth-form shadow-around">
                    @if (ViewBag.IsActive == true)
                    {
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-8 col-sm-8 col-lg-8 alert alert-success m-4">
                                <p>
                                    احراز هویت شما انجام و حساب کاربری شما در کتاب آبی فعال گردید.
                                </p>
                            </div>
                            <div class="col-md-8 col-sm-8 col-lg-8 mb-4">
                                <a class="btn btn-info" asp-controller="Account" asp-action="Login">ورود به سایت</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-8 col-sm-8 col-lg-8 alert alert-danger m-4">
                            <p>
                                فعالسازی حساب کاربری شما با شکست مواجه شد.
                            </p>
                        </div>
                    }

                </div>
            </div>
        </div>
    </main>
</div>