@model KetabAbee.Application.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <partial name="_CaptchaScripts" />
}
<div class="page-wrapper auth-page-wrapper">

    <!-- Page Content -->
    <main class="page-content">
        <div class="container">
            <div class="auth-wrapper">
                <div class="auth-form shadow-around">
                    <div class="site-logo">
                        <a href="#">
                            <img src="/images/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="auth-form-title">
                        بازیابی کلمه عبور
                    </div>
                    <form asp-action="ForgotPassword" method="post">
                        <partial name="_CaptchaInput" />
                        <div class="form-element-row">
                            <label for="phone-number" class="label-element">ایمیل</label>
                            <div class="form-element-with-icon">
                                <input type="text" asp-for="Email" class="input-element" id="phone-number">
                                <i class="fad fa-mail-bulk"></i>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-element-row text-left">
                            <button type="submit" class="btn-element btn-info-element">
                                <i class="fad fa-magic"></i>
                                بازیابی
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- end Page Content -->

</div>

