@model KetabAbee.Application.DTOs.LoginViewModel
@{
    ViewData["Title"] = "ورود";
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <partial name="_CaptchaScripts" />
}
<div class="page-wrapper auth-page-wrapper">

    <!-- Page Content -->
    <main class="page-content">
        <div class="container">
            <div class="auth-wrapper">
                <div class="auth-form shadow-around">
                    <div class="site-logo">
                        <a href="#">
                            <img src="/images/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="auth-form-title">
                        ورود به کتاب <span class="text-primary">آبی</span>
                    </div>
                    <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["returnUrl"]" method="post">
                        <partial name="_CaptchaInput"/>
                        <div class="form-element-row">
                            <label for="phone-number" class="label-element">ایمیل</label>
                            <div class="form-element-with-icon">
                                <input type="email" asp-for="Email" autocomplete="on" class="input-element" id="phone-number">
                                <i class="fad fa-mail-bulk"></i>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-element-row">
                            <label for="password" class="label-element">
                                <span class="d-flex justify-content-between">
                                    <span>کلمه عبور</span>
                                    <a asp-controller="Account" asp-action="ForgotPassword" class="link--with-border-bottom">رمز عبور خود را فراموش کرده‌ام</a>
                                </span>
                            </label>
                            <div class="form-element-with-icon">
                                <input type="password" asp-for="Password" class="input-element" id="password">
                                <i class="fad fa-key-skeleton"></i>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-element-row">
                            <label class="container-checkbox">
                                مرا به خاطر داشته باش
                                <input type="checkbox" asp-for="RememberMe" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-element-row text-left">
                            <button type="submit" class="btn-element btn-info-element">
                                <i class="fad fa-sign-in-alt"></i>
                                ورود به کتاب آبی
                            </button>
                        </div>

                    </form>
                    <div class="auth-form-footer">
                        <span>کاربر جدید هستید؟</span>
                        <a asp-controller="Account" asp-action="Register" class="link--with-border-bottom">ثبت نام در کتاب آبی</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- end Page Content -->

</div>

