@model KetabAbee.Application.DTOs.RegisterViewModel
@{
    ViewData["Title"] = "ثبت نام";
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}

<main class="page-content">
    <div class="container">
        <div class="auth-wrapper">
            <div class="auth-form shadow-around mt-5">
                <div class="site-logo">
                    <a href="#">
                        <img src="/images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="auth-form-title">
                    ثبت نام در کتاب <span class="text-primary">آبی</span>
                </div>
                <form asp-action="Register" method="post">
                    <div class="form-element-row">
                        <label for="user-name" class="label-element">نام کاربری</label>
                        <div class="form-element-with-icon">
                            <input type="text" asp-for="UserName" class="input-element" id="user-name">
                            <i class="fad fa-user"></i>
                        </div>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-element-row">
                        <label for="user-email" class="label-element">موبایل</label>
                        <div class="form-element-with-icon">
                            <input type="tel" asp-for="Mobile" class="input-element" id="user-email">
                            <i class="fad fa-phone"></i>
                        </div>
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-element-row">
                        <label for="password" class="label-element">کلمه عبور</label>
                        <div class="form-element-with-icon">
                            <input type="password" asp-for="Password" class="input-element" id="password">
                            <i class="fad fa-key-skeleton"></i>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-element-row">
                        <label for="repassword" class="label-element">تکرار کلمه عبور</label>
                        <div class="form-element-with-icon">
                            <input type="password" asp-for="ConfirmPassword" class="input-element" id="repassword">
                            <i class="fad fa-key-skeleton"></i>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-element-row">
                        
                    </div>
                    <div class="form-element-row text-left">
                        <button type="submit" class="btn-element btn-success-element">
                            <i class="fad fa-user-edit"></i>
                            ثبت نام در کتاب آبی
                        </button>
                    </div>

                </form>
                <div class="auth-form-footer">
                    <span>قبلا در کتاب آبی ثبت‌نام کرده‌اید؟</span>
                    <a href="/Login" class="link--with-border-bottom">وارد شوید</a>
                </div>
            </div>
        </div>
    </div>
</main>

