@model KetabAbee.Application.DTOs.ResetPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <partial name="_CaptchaScripts" />
}
<div class="page-wrapper auth-page-wrapper">

    <!-- Page Content -->
    <main class="page-content">
        <div class="container">
            <div class="auth-wrapper">
                <div class="auth-form shadow-around">
                    <div class="site-logo">
                        <a href="#">
                            <img src="/images/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="auth-form-title">
                        ویرایش کلمه عبور
                    </div>
                    <form asp-action="ResetPasswordByEmail" method="post">
                        <partial name="_CaptchaInput" />
                        <input type="hidden" asp-for="EmailActiveCode" />
                        <div class="form-element-row">
                            <label for="password" class="label-element">
                                <span> کلمه عبور جدید</span>
                            </label>
                            <div class="form-element-with-icon">
                                <input type="text" asp-for="Password" class="input-element" id="password">
                                <i class="fad fa-key-skeleton"></i>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-element-row">
                            <label for="repassword" class="label-element">
                                <span>تکرار کلمه عبور</span>
                            </label>
                            <div class="form-element-with-icon">
                                <input type="text" asp-for="ConfirmPassword" class="input-element" id="repassword">
                                <i class="fad fa-key-skeleton"></i>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-element-row text-left">
                            <button type="submit" class="btn-element btn-info-element">
                                <i class="fad fa-edit"></i>
                                ویرایش کلمه عبور
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- end Page Content -->

</div>

