@model List<KetabAbee.Application.DTOs.Book.BookListViewModel>
<div class="swiper-wrapper">
    @if (Model != null && Model.Any())
    {
        @foreach (var book in Model)
        {
            <partial name="_BookBox" model="book" />
        }
    }
    else
    {
        <div class="alert alert-info">کالایی برای نمایش وجود ندارد</div>
    }
</div>
