@model List<KetabAbee.Application.DTOs.Book.BookListViewModel>
    <div class="swiper-wrapper">
        @foreach (var book in Model)
        {
        <partial name="_BookBox" model="book" />
        }
    </div>
