@model List<KetabAbee.Application.DTOs.AudioBook.AudioBookBoxViewModel>
@{
    ViewData["Title"] = "کتاب های صوتی";
}

<main class="page-content mt-205">
    <div class="promotion-center--header">
        <div class="promotion-center--title">
            کتاب های صوتی
        </div>
        <div class="text-white">
            از زمان های مرده تان در طول روز بهترین استفاده را کنید :)
        </div>
    </div>
    <div class="container translateY-25">
        <div class="row mb-5">
            <div class="col-12">
                <div class="listing-items row">
                    @if (Model != null && Model.Any())
                    {
                        foreach (var audioBook in Model)
                        {
                            <partial name="_AudioBookBox" model="audioBook"/>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <section class="product-carousel amazing-section mb-5" style="background: rgb(239, 57, 78);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-3 amazing-img-column">
                    <div class=" d-flex flex-direction-column justify-content-center">
                        <img src="./assets/images/banner/amazing-1.png" width="140" alt="amazing">
                    </div>
                </div>
                <div class="col-xl-10 col-lg-9">
                    <div class="swiper-container slider-amazing swiper-container-initialized swiper-container-horizontal swiper-container-rtl">
                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-active" style="width: 229.333px; margin-left: 10px;">
                                <div class="product-card default-ui">
                                    <div class="product-card-top">
                                        <a href="" class="product-image">
                                            <img src="./assets/images/products/01.jpg" alt="product image">
                                        </a>
                                        <div class="product-card-actions">
                                            <button class="add-to-wishlist"><i class="fas fa-heart"></i></button>
                                            <button class="add-to-compare"><i class="fas fa-random"></i></button>
                                        </div>
                                    </div>
                                    <div class="product-card-middle">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 65%;"></div>
                                            </div>
                                        </div>
                                        <h6 class="product-name">
                                            <a href="#">
                                                میز تحریر تاشوو تنظیم شو میلاد سفید
                                                70
                                            </a>
                                        </h6>
                                        <div class="product-price product-price-clone">650,000 تومان</div>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            650,000 تومان
                                        </div>
                                        <a href="#" class="btn-add-to-cart">
                                            <i class="fad fa-cart-plus"></i>
                                            افزودن به سبد خرید
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" style="width: 229.333px; margin-left: 10px;">
                                <div class="product-card default-ui">
                                    <div class="product-card-top">
                                        <a href="" class="product-image">
                                            <img src="./assets/images/products/02.jpg" alt="product image">
                                        </a>
                                        <div class="product-card-actions">
                                            <button class="add-to-wishlist"><i class="fas fa-heart"></i></button>
                                            <button class="add-to-compare"><i class="fas fa-random"></i></button>
                                        </div>
                                    </div>
                                    <div class="product-card-middle">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 65%;"></div>
                                            </div>
                                        </div>
                                        <h6 class="product-name">
                                            <a href="#">میز تحریر مدل M191</a>
                                        </h6>
                                        <div class="product-price product-price-clone">650,000 تومان</div>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            650,000 تومان
                                        </div>
                                        <a href="#" class="btn-add-to-cart">
                                            <i class="fad fa-cart-plus"></i>
                                            افزودن به سبد خرید
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 229.333px; margin-left: 10px;">
                                <div class="product-card default-ui">
                                    <div class="product-card-top">
                                        <a href="" class="product-image">
                                            <img src="./assets/images/products/03.jpg" alt="product image">
                                        </a>
                                        <div class="product-card-actions">
                                            <button class="add-to-wishlist"><i class="fas fa-heart"></i></button>
                                            <button class="add-to-compare"><i class="fas fa-random"></i></button>
                                        </div>
                                    </div>
                                    <div class="product-card-middle">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 65%;"></div>
                                            </div>
                                        </div>
                                        <h6 class="product-name">
                                            <a href="#">
                                                میز تحریر و لپ تاپ تاشو سایز بزرگ مدل
                                                G0025
                                            </a>
                                        </h6>
                                        <div class="product-price product-price-clone">650,000 تومان</div>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            650,000 تومان
                                        </div>
                                        <a href="#" class="btn-add-to-cart">
                                            <i class="fad fa-cart-plus"></i>
                                            افزودن به سبد خرید
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 229.333px; margin-left: 10px;">
                                <div class="product-card default-ui">
                                    <div class="product-card-top">
                                        <a href="" class="product-image">
                                            <img src="./assets/images/products/04.jpg" alt="product image">
                                        </a>
                                        <div class="product-card-actions">
                                            <button class="add-to-wishlist"><i class="fas fa-heart"></i></button>
                                            <button class="add-to-compare"><i class="fas fa-random"></i></button>
                                        </div>
                                    </div>
                                    <div class="product-card-middle">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 65%;"></div>
                                            </div>
                                        </div>
                                        <h6 class="product-name">
                                            <a href="#">میز تحریر مدل 80 Owens B</a>
                                        </h6>
                                        <div class="product-price product-price-clone">650,000 تومان</div>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            650,000 تومان
                                        </div>
                                        <a href="#" class="btn-add-to-cart">
                                            <i class="fad fa-cart-plus"></i>
                                            افزودن به سبد خرید
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 229.333px; margin-left: 10px;">
                                <div class="product-card default-ui">
                                    <div class="product-card-top">
                                        <a href="" class="product-image">
                                            <img src="./assets/images/products/05.jpg" alt="product image">
                                        </a>
                                        <div class="product-card-actions">
                                            <button class="add-to-wishlist"><i class="fas fa-heart"></i></button>
                                            <button class="add-to-compare"><i class="fas fa-random"></i></button>
                                        </div>
                                    </div>
                                    <div class="product-card-middle">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 65%;"></div>
                                            </div>
                                        </div>
                                        <h6 class="product-name">
                                            <a href="#">میز تحریر مدل الیت</a>
                                        </h6>
                                        <div class="product-price product-price-clone">650,000 تومان</div>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            650,000 تومان
                                        </div>
                                        <a href="#" class="btn-add-to-cart">
                                            <i class="fad fa-cart-plus"></i>
                                            افزودن به سبد خرید
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 229.333px; margin-left: 10px;">
                                <div class="product-card default-ui">
                                    <div class="product-card-top">
                                        <a href="" class="product-image">
                                            <img src="./assets/images/products/06.jpg" alt="product image">
                                        </a>
                                        <div class="product-card-actions">
                                            <button class="add-to-wishlist"><i class="fas fa-heart"></i></button>
                                            <button class="add-to-compare"><i class="fas fa-random"></i></button>
                                        </div>
                                    </div>
                                    <div class="product-card-middle">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 65%;"></div>
                                            </div>
                                        </div>
                                        <h6 class="product-name">
                                            <a href="#">میز تحریر مدل چند حالته MT11</a>
                                        </h6>
                                        <div class="product-price product-price-clone">650,000 تومان</div>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            650,000 تومان
                                        </div>
                                        <a href="#" class="btn-add-to-cart">
                                            <i class="fad fa-cart-plus"></i>
                                            افزودن به سبد خرید
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 229.333px; margin-left: 10px;">
                                <div class="product-card default-ui">
                                    <div class="product-card-top">
                                        <a href="" class="product-image">
                                            <img src="./assets/images/products/07.jpg" alt="product image">
                                        </a>
                                        <div class="product-card-actions">
                                            <button class="add-to-wishlist"><i class="fas fa-heart"></i></button>
                                            <button class="add-to-compare"><i class="fas fa-random"></i></button>
                                        </div>
                                    </div>
                                    <div class="product-card-middle">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 65%;"></div>
                                            </div>
                                        </div>
                                        <h6 class="product-name">
                                            <a href="#">
                                                میز تحریر تاشو و تنظیم شو سپهر یاس مدل
                                                60
                                            </a>
                                        </h6>
                                        <div class="product-price product-price-clone">650,000 تومان</div>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            650,000 تومان
                                        </div>
                                        <a href="#" class="btn-add-to-cart">
                                            <i class="fad fa-cart-plus"></i>
                                            افزودن به سبد خرید
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 229.333px; margin-left: 10px;">
                                <div class="product-card default-ui">
                                    <div class="product-card-top">
                                        <a href="" class="product-image">
                                            <img src="./assets/images/products/08.jpg" alt="product image">
                                        </a>
                                        <div class="product-card-actions">
                                            <button class="add-to-wishlist"><i class="fas fa-heart"></i></button>
                                            <button class="add-to-compare"><i class="fas fa-random"></i></button>
                                        </div>
                                    </div>
                                    <div class="product-card-middle">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 65%;"></div>
                                            </div>
                                        </div>
                                        <h6 class="product-name">
                                            <a href="#">
                                                میز تحریر باکسدار و صندلی طرح توت فرنگی
                                                (وایت بردی،تاشو،تنظیم شونده ارتفاع)
                                            </a>
                                        </h6>
                                        <div class="product-price product-price-clone">650,000 تومان</div>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            650,000 تومان
                                        </div>
                                        <a href="#" class="btn-add-to-cart">
                                            <i class="fad fa-cart-plus"></i>
                                            افزودن به سبد خرید
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                        <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        @await Component.InvokeAsync("MainBannersComponent")
    </div>
</main>
