@model List<KetabAbee.Application.DTOs.AudioBook.AudioBookBoxViewModel>
@{
    ViewData["Title"] = "کتاب های صوتی";
}

<main class="page-content mt-205">
    <div class="promotion-center--header">
        <div class="promotion-center--title">
            کتاب های صوتی
        </div>
        <div class="text-white">
            از زمان های مرده تان در طول روز بهترین استفاده را کنید :)
        </div>
    </div>
    <div class="container translateY-25">
        @await Component.InvokeAsync("AudioBooksComponent")
    </div>
    <section class="product-carousel amazing-section mb-5" style="background: rgb(239, 57, 78);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-3 amazing-img-column">
                    <div class=" d-flex flex-direction-column justify-content-center">
                        <img src="/images/banner/amazing-1.png" width="140" alt="amazing">
                    </div>
                </div>
                @await Component.InvokeAsync("MostDownloadedAudioBooksComponent")
            </div>
        </div>
    </section>
    <div class="container">
        @await Component.InvokeAsync("MainBannersComponent")
    </div>
</main>
