.rounded2x {
    border-radius: 10px;
}
.w-65 {
   width: 65%;
}
#Send-Order-Guid {
    cursor: pointer;
}
#Pay-Order-Way {
    cursor: pointer;
}
#Return-Product-Way {
    cursor: pointer;
}
#Privecy--User {
    cursor: pointer;
}